*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -s 127.0.0.1/32 -d 127.0.0.1/32 -i lo+ -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -i lo+ -j ACCEPT
-A INPUT -s 119.9.0.0/16 -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -s 54.252.0.0/16 -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -s 108.171.174.178/32 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -s 192.30.252.0/22 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -s 204.232.175.64/27 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -s 207.97.227.253/32 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -s 50.57.128.197/32 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -s 50.57.231.61/32 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -s 121.0.0.0/8 -p tcp -m tcp --dport 8080 -j ACCEPT
-A INPUT -m state --state NEW -j DROP
-A INPUT -m state --state ESTABLISHED -j ACCEPT
COMMIT
